
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-content mailbox-content">
                <div class="file-manager">
                    <a class="btn btn-block btn-primary compose-mail" href="/Author/Message/NewMessage">Yeni Mail Oluştur</a>
                    <div class="space-25"></div>
                    <h5>Folders</h5>
                    <ul class="folder-list m-b-md" style="padding: 0">
                        <li><a href="/Author/Message/Inbox/?status=null"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-primary float-right">@ViewBag.count</span> </a></li>
                        <li><a href="/Author/Message/Sendbox"> <i class="fa fa-envelope-o"></i> Gönderilen Kutusu <span class="label label-success float-right">@ViewBag.count2</span></a></li>
                        <li><a href="/Author/Message/ImportantBox"> <i class="fa fa-certificate"></i> Önemliler <span class="label label-warning float-right">@ViewBag.count3</span></a></li>
                        <li><a href="/Author/Message/DraftBox"> <i class="fa fa-file-text-o"></i> Taslaklar<span class="label label-inverse float-right">@ViewBag.count4</span></a></li>
                        <li><a href="/Author/Message/TrashBox"> <i class="fa fa-trash-o"></i> Çöp <span class="label label-danger float-right">@ViewBag.count5</span></a></li>
                    </ul>
                    <!--
                    <h5>Categories</h5>
                    <ul class="category-list" style="padding: 0">
                        <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                        <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                        <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                        <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                        <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                    </ul>
-->

                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    
